[Unit]
Description=adbd for Ubuntu

[Service]
Type=forking
ExecStart=/usr/bin/usbdevice start
ExecStop=/usr/bin/usbdevice stop
ExecReload=/usr/bin/usbdevice reload
Environment=TERM=linux

[Install]
WantedBy=default.target

